*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 900px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  margin-right: 20px;
}

body {
  margin: 0;
}

#inputparameters,
#canvaswindow {
  overflow: auto;
  padding: 10px;
}

/* #header {
 height: 80px; /* Высота слоя
 background: #FEDFC0; border-bottom: 2px solid #7B5427;
}
#header h1 { padding: 20px; margin: 0; } */

#inputparameters {
  width: 15%;
  background: #ecf5e4;
  min-width: 200px;
  top: 0px; /* Расстояние от верхнего края */
  bottom: 0; /* Расстояние снизу  */
}
#canvaswindow {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas1 {
  margin-bottom: 20px;
}

.draw-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.draw-buttons-container button {
  outline: none;
  background-color: inherit;
  border: 2px solid black;
  cursor: pointer;
  text-transform: uppercase;
  height: 35px;
  margin-bottom: 10px;
}

.draw-buttons-container button:hover {
  background: white;
}

.modal-body-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.lattice-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 20 auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.lattice-card-contols {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "R";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  content: "D";
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 